streamlit>=1.32.0
pathvalidate>=3.2.0
streamlit-option-menu>=0.3.2
beautifulsoup4>=4.12.2
requests>=2.31.0
youtube-transcript-api>=0.6.1
pytube>=15.0.0
deep-translator>=1.11.4
gtts>=2.4.0
transformers>=4.34.0
nltk>=3.8.1
spacy
sumy>=0.11.0
pandas>=2.1.1
plotly>=5.18.0
python-dotenv>=1.0.0
torch>=2.1.0
scipy>=1.11.3
numpy>=1.26.0
